.book {
    display: inline-block;
    width: 225px;
    height: 100%;
    border: 2px solid orange;
    color: #fff;
}
.book:not(:last-child) {
    margin-right: 18px;
}
.head {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: super;
    background: red;
    border-radius: 3px;
}
.body {
    width: 98%;
    height: 83%;
    border: 3px solid grey;
    border-radius: 3px;
}
figure {
    margin: 0;
}
figure img {
    width: 87%;
    height: 100%;
    margin-left: 15px;
}
figcaption {
    text-align: center;
}
.button {
    width: 90px;
    height: 30px;
    margin-top: 10%;
    margin-left: 28%;
    text-align: center;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    background: #2E2F2F;
    font-size: 14px;
    color: #F88466;
}